#Img1{
    margin-inline-start: 20%;
}
#text1{
    font-size: 25px;
    font-style: oblique;
}
h2 {
    font-style: oblique;
}
#container1{

    padding-top: 3%;
}

#refran1{
    padding-top: 1.5%;
}
#seccionhistoria{
    padding-top: 3%;
}
#imghistoria{
    padding-top:1%;
    padding-left: 5%;
}
