@import url('https://fonts.googleapis.com/css?family=Hind:300,400&display=swap');

.logo {
  background-color: transparent; /* Default background */
}

@media (prefers-color-scheme: dark) {
  .logo {
      background-color: white; /* White background in dark mode */
  }
}

.carousel-item {
  max-height: 35em;
} 

#Img1{
  margin-inline-start: 20%;
}

.text1{
  font-size: 25px;
  font-style: oblique;
}

h2 {
  font-style: oblique;
}

#container1{
  padding-top: 3%;
}

#refran1{
  padding-top: 1.5%;
}

#seccionhistoria{
  padding-top: 3%;
}

#imghistoria{
  padding-top:1%;
  padding-left: 5%;
}

#carouselTestimonials {
  max-width: 600px;
  text-align: center;
}

.card-text {
  text-align: justify;
}

/*Testimonial Carousel*/
.col-center{
  margin: 0 auto;
  float: none !important;
}
#testimonialTitle {
  color: #333;
  text-align: center;
  font-style: oblique;
  font-weight: bold;
  position: relative;
  margin: 30px 0 60px;
}
#testimonialTitle::after {
  content: "";
  width: 140px;
  position: absolute;
  margin: 0 auto;
  height: 3px;
  background-color: #d74a1c;
  left: 0;
  right: 0;
  bottom: -10px;
  opacity: .8;
}
#testimonialCarousel {
  margin: 50px auto;
  padding: 0 70px;
}
.testimonialItem {
  color: #999;
  font-size: 14px;
  text-align: center;
  overflow: hidden;
  min-height: 290px;
}
.img-box {
  width: 135px;
  height: 135px;
  margin: 0 auto;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 50%;
  overflow: hidden;
}
.img-box img {
  width: 100%; 
  height: 100%;
  display: block;
  border-radius: 50%;
  object-fit: cover;
}
.testimonialItem .testimonial {
  padding: 30px 0px 10px;
  max-height: 100px;
  margin: 0 15px;
}
.testimonialItem .testimonialAuthor {
  font-style: italic;
}
.testimonialItem .testimonialAuthor b {
  text-transform: uppercase;
  color: #d74a1c;
}
.testimonialCarousel .carousel-control {
  width: 40px;
  height: 40px;
  margin-top: -20px;
  top: 50%;
  background: none;
}
.carousel-control img {
  height: 80px;
}

.card-img-top {
  max-height: 500px;
}

.card-footer button {
  background-color: #d74a1c;
}

#enviarForm, #buttonEquipo  {
  background-color: #d74a1c;
}

#textfaq{
  padding-left: 5%;
}

#faqcontent{
  padding-left: 3%;
}

.faq-header{
  font-size: 25px;
  font-family:Arial, Helvetica, sans-serif;
  font-style: oblique;
  border-bottom: 1px dotted #ccc;
  padding: 24px;
  max-width: 1320px;
}

.faq-content {
  margin: 0 auto;
}

.faq-question {
  padding: 20px 0;
  border-bottom: 1px dotted #ccc;
}

.panel-title {
  font-size: 22px;
  width: 100%;
  position: relative;
  margin: 0;
  padding: 10px 10px 0 48px;
  display: block;
  cursor: pointer;
}

.panel-content {
  font-size: 20px;
  padding: 0px 14px;
  margin: 0 40px;
  height: 0;
  overflow: hidden;
  z-index: 0;
  position: relative;
  opacity: 0;
  -webkit-transition: .4s ease;
  -moz-transition: .4s ease;
  -o-transition: .4s ease;
  transition: .4s ease;
  
}

.panel:checked ~ .panel-content{
  height: auto;
  opacity: 1;
  padding: 14px;
}

.plus {
  position: absolute;
  margin-left: 20px;
  margin-top: 4px;
  z-index: 5;
  font-size: 42px;
  line-height: 100%;
  -webkit-user-select: none;    
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-transition: .2s ease;
  -moz-transition: .2s ease;
  -o-transition: .2s ease;
  transition: .2s ease;
}

.panel:checked ~ .plus {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.panel {
  display: none;
}